.anchor-1{
    -fx-background-color: #1f1c1c;
}
.table-view {
    -fx-background-color: #ffff48;
    -fx-background-radius: 12;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(255, 219, 6, 0.8), rgba(246, 253, 116, 0.78));
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-text-fill: white;
}
.table-row-cell:hover {
    -fx-background-color: rgba(147, 249, 185, 0.78);
    -fx-text-background-color: #181717;


}
.table-row-cell:odd{
    -fx-background-color: #4d4b4b;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-background-radius: 9;
}
.table-row-cell:even{
    -fx-background-color: #000000;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-background-radius: 8;
    -fx-border-radius: 8;

}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #000000, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-row-cell: highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

.back-btn{
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-border-color: #ffd726;
    -fx-cursor: hand;
}
.back-btn:hover{
    -fx-background-color: #ffd726;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
